<h1><%= @article.title %></h1>
<%= @article.content %>

<form method="post" action="/articles/<%= @article.id %>">
  <input type="submit" name="_method" value="delete">
</form>
  <a href="/articles/<%= @article.id %>/edit">Edit</a>